<!DOCTYPE html>
<html lang="ro">
<head>
    <title>snowrider.com</title>
    <meta name="keywords" content="ski, snowboard, zăpadă, iarnă, echipamente de iarnă, geacă,
                                 pantaloni ski, accesorii ski, ochelari snowboard, mănuși de ski, sporturi de iarnă">
    <meta name="description" content="Ski. Snowboard. Echipamente sporturi de iarnă.">
    <link rel="stylesheet" href="/resurse/css/contact.css">

    <%- include("../fragmente/head.ejs") %>
</head>

<body id="top">

    <%- include("../fragmente/header.ejs") %>
    <main>
        <section id="contact">
            <h2>CONTACT <i class="fa-solid fa-phone-flip"></i></h2>
            <p>Ai nevoie de asistență, sfaturi sau informații despre echipamente de schi? Suntem aici să te ajutăm!</p>

            <ul>
                <li><strong>Email:</strong> <a href="mailto:contact@snowrider.com">contact@snowrider.com</a></li>
                <li><strong>Telefon:</strong> <a href="tel:+40789532122">+40 789 532 122</a></li>
                <li><strong>Adresa:</strong> Str. Zăpezii nr.1, București, România</li>
            </ul>
            <!-- adresa facultatii bonus -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.884301139315!2d26.09701177610269!3d44.43553547107578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Computer%20Science!5e0!3m2!1sen!2sro!4v1741198322506!5m2!1sen!2sro"
                width="600" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade"
            ></iframe>

            <p>Vizitează-ne și descoperă un <b>magazin de sporturi de iarnă</b> dedicat pasionaților de ski și snowboard!</p>
        </section>
    </main>

    <%- include("../fragmente/footer.ejs") %>
</body>
</html>