<!DOCTYPE html>
<html lang="ro">
<head>
    <title>snowrider.com</title>
    <meta name="keywords" content="ski, snowboard, zăpadă, iarnă, echipamente de iarnă, geacă,
                                 pantaloni ski, accesorii ski, ochelari snowboard, mănuși de ski, sporturi de iarnă">
    <meta name="description" content="Ski. Snowboard. Echipamente sporturi de iarnă.">
    <link rel="stylesheet" href="/resurse/css/contact.css">

    <%- include("../fragmente/head.ejs") %>
</head>

<body id="top">

    <%- include("../fragmente/header.ejs") %>
    <main>
        <%- include("../fragmente/galerie.ejs") %>     
    </main>

    <%- include("../fragmente/footer.ejs") %>
</body>
</html>