<!DOCTYPE html>
<html lang="ro">
<head>
    <title>snowrider.com</title>
    <meta name="keywords" content="ski, snowboard, zăpadă, iarnă, echipamente de iarnă, geacă,
                                 pantaloni ski, accesorii ski, ochelari snowboard, mănuși de ski, sporturi de iarnă">
    <meta name="description" content="Ski. Snowboard. Echipamente sporturi de iarnă.">

    <%- include("../fragmente/head.ejs") %>
</head>

<body id="top">

    <%- include("../fragmente/header.ejs") %>
    <main>
        <section id="magazin">
            <h2>MAGAZIN <i class="fa-solid fa-basket-shopping fa-bounce"></i></h2>
            <blockquote>Controlează viteza. Stăpânește terenul. Depășește-ți limitele.</blockquote>
            <div class="gallery">
                <div class="gallery-item"><img src="resurse/imagini/produse/1.png" alt="Produs 1"><button class="buy-btn">Vezi produsul</button></div>
                <div class="gallery-item"><img src="resurse/imagini/produse/2.png" alt="Produs 2"><button class="buy-btn">Vezi produsul</button></div>
                <div class="gallery-item"><img src="resurse/imagini/produse/3.png" alt="Produs 3"><button class="buy-btn">Vezi produsul</button></div>
                <div class="gallery-item"><img src="resurse/imagini/produse/4.png" alt="Produs 4"><button class="buy-btn">Vezi produsul</button></div>
            </div>
        </section>
    </main>

    <%- include("../fragmente/footer.ejs") %>
</body>
</html>