
.slogan-wrapper {
    position: absolute;
    bottom: 60px;
    left: 60px;
    display: flex;
    flex-direction: column;
    z-index: 11;
    gap: 3px;
}


.slogan1-cover {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 500;
}

.slogan2-cover {
    font-size: 1rem;
    font-style: italic;
}

.slogan1-cover,
.slogan2-cover {
    transition: all 0.5s ease-in-out;
}

.png-home1 img{
    width: 100%;
    height: 100%;
    object-fit: contain; 
    display: block;
}

.separator{
    width: 100%;
    height: 40px;
    background-color: var(--black);
    margin-bottom: 20px;
}

.separator p {
    margin-top: 0;
    color: var(--white);
    margin-left: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 2px;
    box-sizing: border-box; 
}

.home-grid {
    background-color: var(--black);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    align-items: center;
    margin-top: 80px;
}

.png-home2 img {
    width: 100%;
    height: auto;
    display: block;
}

.content1 {
    color: var(--white);
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: -10px;
}

.content2 {
    color: var(--white);
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: center;
    font-style: italic;
}

.btn-container {
    text-align: center;
}

.shop-btn {
    background-color: transparent;
    color: var(--green);
    border: 4px solid var(--green);
    padding: 12px 24px;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    margin-bottom: 20px;
}

.shop-btn:hover {
    transform: scale(1.05);
}

.home-grid2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    padding: 40px;
}

iframe {
    width: 100%;
    height: 300px;
}

details embed {
    width:80%;
    height: 300px;
}

/*Tab-uri iframe*/

.taburi-iframe {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.taburi-iframe a {
    display: inline-block;
    line-height: 11px;
    text-decoration: none;
    border: 2px solid var(--darkgray);
    border-bottom: 2px solid var(--black);
    padding: 10px 12px;
    font-size: 15px;
    color: var(--black);
    cursor: pointer;
}

.taburi-iframe a:hover {
    background-color: var(--white);
}

.taburi-iframe a:focus {
    background: var(--lightgray);
    outline: none;
}

@media screen and (max-width: 1300px) {
    .slogan-wrapper {
        bottom: 200px;
        left: 20px;
    }

    .slogan1-cover {
        font-size: 1.1rem;
    }

    .slogan2-cover {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:1024px){
    html{
        font-size: 16px;
    }

    .slogan-wrapper {
        bottom: 240px;
        left: 20px;
    }

    .slogan1-cover {
        font-size: 1.1rem;
    }

    .slogan2-cover {
        font-size: 0.9rem;
    }

    .table-container table {
        font-size: 14px;
    }

    .taburi-iframe a {
        font-size: 14px; 
        padding: 8px 16px;
        border-radius: 8px 8px 0 0;
    }
}

@media screen and (max-width: 992px) {
    .slogan-wrapper {
        bottom: 280px;
        left: 40px;
    }

    .slogan1-cover {
        font-size: 1.1rem;
    }

    .slogan2-cover {
        font-size: 0.9rem;
    }
}

@media screen and (max-width:800px){
    .png-home1 img{
        padding-top:20px;
    }

    .content1 {
        padding-top: 80px;
    }

    .slogan-wrapper {
        bottom: 340px;
        left: 20px;
    }

    .slogan1-cover {
        font-size: 1.1rem;
    }

    .slogan2-cover {
        font-size: 0.9rem;
    }

    .separator p {
        padding: 7px;
    }

    .home-grid, .home-grid2 {
        display: block;
    }

    .content1 {
        padding-top: 80px;
    }

    html{
        font-size: 14px;
    }

    img {
        margin-top: 90px;
        margin-bottom: 0;
    }

    .table-container table {
        font-size: 14px;
        border-spacing: 0;
    }

    .table-container {
        overflow-x: scroll;
    }

    .taburi-iframe a {
        font-size: 12px;
        padding: 6px 12px;
        border-radius: 6px 6px 0 0;
    }

    iframe {
        height: 150px;
    }
}