#desprenoi {
    padding: 40px;
}

video {
    width: 100%;
    min-width: 300px;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 2em auto;
}

/* Stilizare subtitrari */
::cue {
    background-color: var(--dark-gray);
    color: var(--white);
    text-align: left;
    font-size: 0.5em;
}