footer {
    width: 100%;
    background: var(--black);
    color: var(--white);
    padding: 40px 0;
    font-size: 14px;
}

footer .banner-print {
    visibility: hidden;
}

#link-top{
  position:fixed;
  bottom:0.5em;
  left:0.5em;
  width:2rem;
  height:2rem;
  opacity:0.5;
  display: flex;
    align-items: center;
    justify-content: center;
  box-sizing: border-box;
  line-height:3rem;
  border:3px solid var(--black);
  border-radius:50%;
  background: var(--white);
  opacity: 0.5;
  box-shadow: 2px 2px 10px var(--black);
  text-decoration: none;
}

#link-top:hover{
  opacity:1;
  background: var(--lightblue);
}

#triunghi{
    font-size: 30px;
    font-weight: bold;
    color: var(--black);
    text-align: center;
    margin-bottom: 8px;
}

.tooltip {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-10%);
    padding: 3px 5px;
    color: var(--primary-blue);
    font-size: 14px;
    white-space: nowrap;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#link-top:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    text-align: left;
    grid-gap: 20px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    min-height: 150px;
}

.footer-column h3 {
    color: var(--white);
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 27px;
}

.footer-column p {
    margin-top: -14px;
}

.footer-column ul {
    list-style: none;
    padding-left: 29px;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 500;
}

.footer-column ul li a:hover {
    color: var(--primary-blue);
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid var(--darkgray);
    padding-top: 15px;
    margin-top: 20px;
    font-size: 16px;
}

.footer-bottom a {
    color: var(--white);
    text-decoration: none;
}

.footer-column a {
    text-decoration: none;
    color: var(--white);
}

.footer-column a:hover {
    color: var(--primary-blue);
    transition: color 0.3s ease;
}

.logo-footer{
    font-size: 40px;
    font-weight: 500;
    margin-left: 15px;
    margin-bottom: 53px;
}

.footer-container address {
    font-style: normal;
    color: var(--white);
    font-weight: 500;
    line-height: 1.8;
    margin-top: -50px;
    margin-left: 17px;
}

.footer-container address a {
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
}

@media (max-width: 1024px) {
    .footer-container {
        grid-gap: 15px;
    }
}

@media (max-width: 768px) {
    .footer-container {
        grid-gap: 10px;
    }

    .tooltip {
        line-height: 1.2;
        font-size: 10px;
        background-color: var(--white);
        padding: 2px 4px;
        left: 90%;
        transform: translateX(-10%);
        bottom: 120%;
        box-shadow: 0 2px 5px var(--darkgray);
    }
    #triunghi{
        font-size: 25px;
        margin-bottom: 7px;
    }
}