#galerie-statica {
    width: 100%;
    padding: 2rem 50px;
    box-sizing: border-box;
}

#grid-galerie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    counter-reset: galerie-counter;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    overflow-x: hidden;
}

#grid-galerie img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    transition: filter 1.1s ease;
}
  
#grid-galerie figure {
    counter-increment: galerie-counter;
    position: relative;
}

#grid-galerie figure:hover img {
    filter: contrast(200%);
}

#grid-galerie figcaption {
    text-align: center;
    transition: transform 1.1s ease;
    transform-origin: center;
}
  
#grid-galerie figcaption::before {
    content: counter(galerie-counter, lower-greek) ". ";
    font-weight: bold;
    padding: 2px;
}

#grid-galerie figure:hover figcaption {
    transform: scale(1.2);
}

.licenta_poza {
    text-align: center;
    display: block;
    margin-top: 0.5rem;
}

@media screen and (max-width: 1024px) {
    #grid-galerie {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:800px){
    #grid-galerie {
        grid-template-columns: 1fr;
    }
}