:root {
    --primary-blue: #004AAD;
    --white: #FFFFFF;
    --black: #000000;
    --lightblue: #4B9BC9;
    --dark-gray: #4C5053;
    --lightgray: #B3B3B8;
    --green: #8de88b;
}
  

#watermark, #banner-print{
    display:none;
}

html {
    font-family: 'Oswald', sans-serif;
    font-size: 18px; 
    transition: font-size 0.5s ease-in-out;
}

body{
    margin: auto;
    transition: --padding-pagina 0.5s ease-in-out;
}

main {
    padding-left: var(--padding-pagina);
    padding-right: var(--padding-pagina);
    transition: padding 0.5s ease-in-out;
}

.top-icons {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1002;
    display: flex;
    gap: 20px;
}
  
.icon-link {
    color: var(--black);
    font-size: 1.2rem;
    text-decoration: none;
    transition: transform 0.3s ease;
}
  
.icon-link:hover {
    color: var(--primary-blue);
}

/*TABEL FAQ*/
.table-container {
    width: 100%;
    overflow-x: auto;
    display: block;
    margin-top: 10px;
}

table {
    min-width: 450px;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    transition: font-size 0.5s ease-in-out;
    border-spacing: 10px;
}

table td, table th {
    padding: 8px;
}

thead tr {
    background-color: var(--black);
    color: var(--white);
}

.cold-temp, tbody tr:nth-child(even) {
    background-color: var(--black);
    color: var(--white);
}

tbody tr:nth-child(odd) {
    background-color: var(--white);
}

caption {
    caption-side: bottom;
    font-style: italic;
    font-size: 18px;
    color: var(--dark-gray);
}

/* Etapa 4 link-uri */
a:not(nav a):not(footer a):link {
    color: var(--black);
}

a:not(nav a):not(footer a):visited {
    color: var(--primary-blue);
}

a[href^="mailto"]:not(nav a):not(footer a)::before,
a[href^="tel"]:not(nav a):not(footer a)::before,
a[href^="http"]:not(nav a):not(footer a)::before {
    content: "⮳";
    color: var(--black);
    transition: color 0.3s ease;
    text-decoration: none;
}

a[href^="mailto"]:not(nav a):not(footer a):hover::before,
a[href^="tel"]:not(nav a):not(footer a):hover::before,
a[href^="http"]:not(nav a):not(footer a):hover::before {
    color: var(--green);
}

/* pata de culoare la link-uri interne doar la hover */
a[href^="/"]:not(nav a):not(footer a):not(.top-icons a) {
    position: relative;
    display: inline-block;
    background-image: radial-gradient(var(--lightblue) 0%, var(--lightblue) 40%, transparent 80%, transparent 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0%;
    transition: background-size 0.4s ease;
}

a[href^="/"]:not(nav a):not(footer a):not(.top-icons a):hover {
    background-size: 120%;
}

/*chenar la click*/
a[href^="/"]:not(nav a):not(footer a):not(.top-icons a):active {
    outline: 2px solid var(--black);
    outline-offset: 2px;
}


@media screen and (max-width: 768px){
    .top-icons {
        left: 20px;
        right: auto;
    }
}

