<footer class="print-footer">
    <p class="banner-print">Acesta este un proiect școlar!</p>
    <a href="#" id="link-top">
        <span id="triunghi">&#5123;</span>
    </a>
    <div class="footer-container">
        <div class="footer-column">
            <p class="logo-footer">SNOWRIDER</p>
            <address>
                Telefon: <a href="tel:+40789532122">+40 789 532 122</a><br>
                Adresă: <a href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica" target="_blank">
                Str. Zăpezii nr. 1, București</a><br>
                Email: <a href="mailto:contact@snowrider.com">contact@snowrider.com</a><br>
                Chat: <a href="https://wa.me/40700123456" target="_blank">WhatsApp</a>
            </address>
        </div>

        <div class="footer-column">
            <h3>Link-uri utile</h3>
            <ul>
                <li><a href="#acasă">Acasă</a></li>
                <li><a href="#magazin">Magazin</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Despre noi</h3>
            <ul>
                <li><a href="/desprenoi">Despre noi</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Servicii clienți</h3>
            <ul>
                <li><a href="resurse/pdf/termeni_conditii.pdf" download>Termeni și condiții</a></li>
                <li><a href="resurse/pdf/politica_conf.pdf" download>Politica de confidențialitate</a></li>
                <li><a href="resurse/pdf/info_livrare_retur.pdf" download>Informații de livrare</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>
            <small>&copy; 2025 Snowrider | Toate drepturile rezervate | 
                <a href="/home">snowrider.com</a></small>
            <br>
            <small>Pagină creată pe <time datetime="2025-03-05">5 martie 2025</time></small>
        </p>
    </div>
</footer>