<header class="top-bar">
    <div class="logo-container">
        <h1 class="logo"><a href="/home">SNOWRIDER</a></h1>
    </div>
</header>

<nav>
    <input id="ch-menu" type="checkbox">
    <label id="hamburger" for="ch-menu">
        <div class="burger-lines">
            <span class="line1"></span>
            <span class="line2"></span>
            <span class="line3"></span>
        </div>
    </label>          

    <div id="toggle-container" class="position-fixed top-0 start-0 m-3 z-3">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="toggle-tema-global" role="switch">
          <label class="form-check-label" for="toggle-tema-global">
            <i id="icon-tema-global" class="bi bi-moon"></i>
          </label>
        </div>
    </div>            
    
    <ul class="meniu">
        <li>
            <a class="text-icon" id="acasa" href="/index">Acasă</a>
            <div class="imag-icon"><span class="fas fa-regular fa-house-user"></span></div>
        </li>
    
        <li class="has-submenu">
            <a href="/desprenoi" class="text-icon">Despre noi</a>
            <ul>
                <li><a href="/desprenoi#cine-suntem">Cine suntem?</a></li>
                <li><a href="/desprenoi#misiune">Misiunea noastră</a></li>
                <li><a href="/galerie-foto">Galerie</a></li>
            </ul>
        </li>

        <!-- <li class="has-submenu">
            <a href="/magazin" class="text-icon">Magazin</a>
            <ul>
                <li><a href="/magazin#schi">Schiuri & Clăpari</a></li>
                <li><a href="/magazin#snowboard">Snowboard & Boots</a></li>
    
                <li>
                    <a href="/magazin#imbracaminte">Îmbrăcăminte tehnică</a>
                    <ul>
                        <li><a href="#">Bluzoane termice</a></li>
                        <li><a href="#">Pantaloni termici</a></li>
                        <li><a href="#">Tricouri tehnice</a></li>
                        <li><a href="#">Jachete izolante</a></li>
                        <li><a href="#">Geci & Pantaloni</a></li>
                        <li><a href="#">Costume one-piece</a></li>
                    </ul>
                </li>
    
                <li>
                    <a href="/magazin#accesorii">Accesorii</a>
                    <ul>
                        <li><a href="#">Mănuși & Mitene</a></li>
                        <li><a href="#">Căști</a></li>
                        <li><a href="#">Ochelari</a></li>
                    </ul>
                </li>
            </ul>
        </li> -->
    
        
        <li class="has-submenu">
            <a href="/produse" class="text-icon">Produse</a>
            <ul>
                <li><a href="/produse">Toate</a></li>
                <% 
                    let traduceriCategorii = {
                        "schi_si_clapari": "Schi & Clăpari",
                        "snowboard_si_boots": "Snowboard & Boots",
                        "imbracaminte_tehnica": "Îmbrăcăminte tehnică",
                        "accesorii": "Accesorii"
                    };
                %>
                <% for (let opt of optiuniMeniu) { %>
                    <li>
                        <a href="/produse?categorie=<%= opt.categ %>">
                            <%= traduceriCategorii[opt.categ] || opt.categ.replaceAll("_", " ") %>
                        </a>
                    </li>
                <% } %>
            </ul>
        </li>

        <li>
            <a href="/contact" class="text-icon">Contact</a>
        </li>
    </ul>
</nav> 

<script src="resurse/js/theme.js"></script>